body {
  background: #5a3f37; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c7744,
    #5a3f37
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c7744,
    #5a3f37
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.results {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 400px;
  width: 300px;
}
.result img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
button:active {
  transform: scale(0.98);
}
button:focus {
  outline: none;
}
