<h2>Add to the Index</h2>
<main>
    <p>seen anew Pokemon?</p>
    <form action="/pokemon" method="POST" class="form">
        <label for="npn">National Pokemon Number</label>
        <input type="text" name="npn">
        <label for='name'>Name:</label>
        <input name='name'>
        <label for='region'>Region:</label>
        <select name='region'>
            <option value='Kanto'>Kanto</option>
            <option value='Johto'>Johto</option>
        </select>
    </form>
</main>