<div class="container">
    <form method="POST" action="/addquestions">
        <div class="form-group">
          <label for="exampleInputEmail1">QUESTION</label>
          <input type="text"  class="form-control" id="exampleInputEmail1" name='question' aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">1 ANSWER:</label>
            <input type="text"  class="form-control" id="exampleInputEmail1" name='a' aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">2 ANSWER:</label>
            <input type="text"  class="form-control" id="exampleInputEmail1" name='b' aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">3 ANSWER:</label>
            <input type="text"  class="form-control" id="exampleInputEmail1" name='c' aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">CORRECT ANSWER:</label>
            <input type="text"  class="form-control" id="exampleInputEmail1" name='correct' aria-describedby="emailHelp" placeholder="Enter email">
          </div>
            
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>